<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>Shop Bán Hàng</h5>
                <p>Cung cấp các sản phẩm chất lượng với giá cả hợp lý.</p>
                <div class="footer-social-icons">
                    <a href="#"><img src="/images/social-facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="/images/social-instagram.png" alt="Instagram"></a>
                    <a href="#"><img src="/images/social-twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="/images/social-youtube.png" alt="YouTube"></a>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Thông tin</h5>
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-white-50">Giới thiệu</a></li>
                    <li><a href="/contact" class="text-white-50">Liên hệ</a></li>
                    <li><a href="/policy/privacy" class="text-white-50">Chính sách bảo mật</a></li>
                    <li><a href="/policy/terms" class="text-white-50">Điều khoản sử dụng</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Hỗ trợ khách hàng</h5>
                <ul class="list-unstyled">
                    <li><a href="/policy/shipping" class="text-white-50">Chính sách vận chuyển</a></li>
                    <li><a href="/policy/returns" class="text-white-50">Chính sách đổi trả</a></li>
                    <li><a href="/faq" class="text-white-50">Câu hỏi thường gặp</a></li>
                    <li><a href="/contact" class="text-white-50">Liên hệ hỗ trợ</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Liên hệ</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt me-2"></i> 123 Đường ABC, Quận XYZ, TP.HCM</li>
                    <li><i class="fas fa-phone me-2"></i> (84) 123 456 789</li>
                    <li><i class="fas fa-envelope me-2"></i> info@sellshop.com</li>
                    <li><i class="fas fa-clock me-2"></i> 8:00 - 20:00, Thứ 2 - Chủ nhật</li>
                </ul>
            </div>
        </div>

        <hr class="mt-4">

        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> SellShop. Tất cả quyền được bảo lưu.</p>
            </div>
            <div class="col-md-6 text-md-end footer-payment-icons">
                <img src="/images/payment-visa.png" alt="Visa">
                <img src="/images/payment-mastercard.png" alt="MasterCard">
                <img src="/images/payment-paypal.png" alt="PayPal">
                <img src="/images/payment-momo.png" alt="MoMo">
            </div>
        </div>
    </div>
</footer>