<%- include('partials/header') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <div class="error-template">
                    <h1>Oops!</h1>
                    <h2>404 - Không tìm thấy trang</h2>
                    <div class="error-details mb-4">
                        Trang bạn yêu cầu không tồn tại hoặc đã bị di chuyển.
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg">
                            <i class="fas fa-home"></i> Về trang chủ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>